<div>
    <div style='width: 600px; margin:auto'>
        <img style='width: 600px' src='https://www.mcsc.link/wp-content/uploads/2020/08/105519884_169375321434435_2434120628236537514_o-1024x576.jpg'>
    </div>
    <h1 align='center'>Welcome to the County Soccer Complex!</h1>
</div>

<%= link_to "Sign Up", "/signup" %><br>
<%= link_to "Sign In", "/signin" %><br>
<%= link_to 'Sign in with Github', auth_github_callback_path %>